*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
body{
    background-color: #123;
}
#container{
    width: 80%;
    margin: auto;
   padding: 20px 0;
}
#form{
    margin: 10px 0;
    width: 80%;
    margin: auto;
}
#title{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
#title p{
    font-size: 30px;
    text-transform: capitalize;
}
#firstname,#lastname,#rollon{
margin-bottom: 10px;
 
}
label{
    text-transform: capitalize;
}
input{
    width:94%;
    border: none;
    outline: none;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 10px;
    color: black;   
}
input:hover{
    transform: scale(1.1);
}
button{
    background-color: green;
    border-radius: 3px;
    padding: 5px ;
    border: none;
}
table{
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    border-spacing: 5px;
}
#tbody tr td{
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 3px;
}
#header td,td{
    text-transform: capitalize;
    padding:5px;
}

#editbtn{
    background-color: rgb(255, 255, 0);
    color: black;
}
#deletebtn{
    background-color: red;
}
